
#sobreMiback{
	background-image: url(../images/bodybackground.jpg);
	background-size: cover;
	background-color: #C1C0BD;
	background-size: cover;
}
.cajadiv{
	height: 45em;
	width: 100%;
}
.cajaimg{
	width: 20em;
	height: 20em;
	margin-top: 3em;
	margin-bottom: 3em;
}
#imgbtrap {
	padding-top: 2.5em;
}
.mtop3{
	margin-top: 3em;
}
.mbotm3{
	margin-bottom: 3em;
}
.mtopbot3{
	margin-top: 3em;
	margin-bottom: 3em;
}
.ptopbot3{
	padding-top: 3em;
	padding-bottom: 3em;
}
.ptopbot1{
	padding-top: 1em;
	padding-bottom: 1em;
}
footer{	
	background-color: #2B3959;
	font-size: 1em;
	color: white;
}